<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<style>
    th, td{
        padding-left: 20px;
    }
    
    ul {
        list-style: none;
    }
</style>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${keskustelualue.nimi}">Keskustelualue</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text="${keskustelualue.nimi}"></h1>
        
        <h2>Avaukset</h2>
        
        <ul>
            <li th:each="avaus : ${avaukset}">
                <a th:href="@{~/keskusteluavaus/{id}(id=${avaus.id})}" th:text="${avaus.otsikko}">Avaus</a>
            </li>
        </ul>
    </body>
</html>