<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<style>
    th, td{
        padding-left: 20px;
    }
    
    ul {
        list-style: none;
    }
</style>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${keskustelualue.nimi}">Keskustelualue</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text="${keskustelualue.nimi}"></h1>
        
        <h2>Avaukset</h2>
        
        <table>
            <tr>
                <th><b>Avaus</b></th>
                <th><b>Viesteja</b></th>
            </tr>
            <tr th:each="avaus : ${avaukset}">
                <td>
                    <a th:href="@{~/keskusteluavaus/{id}(id=${avaus.id})}" th:text="${avaus.otsikko}">Otsikko</a>
                </td>
                <td th:text="${avaus.viestimaara}">Viestimaara</td>
            </tr>
        </table>
    </body>
</html>