<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<style>
    th, td{
        padding-left: 20px;
    }
    
    ul {
        list-style: none;
    }
    
    #addForm {
        display: none;
    }
    
    .lisaa-avaus{
        padding: 10px;
        background-color: #eeeeee;
        width: 50%;
    }
</style>

<script type="text/javascript">
    function setAddFormVisible(){
        document.getElementById('addForm').style.display = 'block';
    }
    
    function setAddFormInvisible(){
        document.getElementById('addForm').style.display = 'none';
    }
</script>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${keskustelualue.nimi}">Keskustelualue</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text="${keskustelualue.nimi}"></h1>
        
        <h2>Avaukset</h2>
        
        <table>
            <tr>
                <th><b>Avaus</b></th>
                <th><b>Viesteja</b></th>
                <th><b>Viimeisin viesti</b></th>
            </tr>
            <tr th:each="avaus : ${avaukset}">
                <td>
                    <a th:href="@{~/keskusteluavaus/{id}(id=${avaus.id})}" th:text="${avaus.otsikko}">Otsikko</a>
                </td>
                <td th:text="${avaus.viestimaara}">Viestimaara</td>
                <td th:text="${avaus.viimeisinViesti}">Viimeisin viesti</td>
            </tr>
        </table>
        
        <button onclick="setAddFormVisible()">Lisaa avaus</button>
        
        <div id="addForm" class="lisaa-avaus">
            <form method="POST">
                <input type="text" placeholder="Avauksen nimi..." name="otsikko" maxlength="50" style="width: 80%;"/><br></br>
                <textarea placeholder="Viesti..." name="viesti" rows="10" maxlength="1000" style="width: 100%;"/><br></br>
                <input type="text" placeholder="Nimimerkki..." name="nimimerkki" maxlength="20" style="width: 50%;"/><br></br>
                <input type="submit" value="Lisaa"/>
                <input type="button" value="Kumoa" onclick="setAddFormInvisible()"/>
            </form>
        </div>
    </body>
</html>